/* .button:hover{
    border: 1px solid var(--mantine-color-red-6) !important;
    background-color: var(--mantine-color-red-6) !important;
    color: var(--mantine-color-gray-2) !important;
    transition: all 0.25s;
}

.button_d:hover{
    border: 1px solid var(--mantine-color-red-6) !important;
    background-color: var(--mantine-color-gray-2) !important;
    color: var(--mantine-color-red-6) !important;
    transition: all 0.25s;
} */